<html>
<head>
		
<title>Chuck Norris Quotes</title>
<link href="static/css/chucknorris.css" rel="stylesheet" type="text/css">
 
</head>
<body>
	
	<header>
		<div class="row">
			<div class="logo">
			<img src="static/css/norris2.png">
		</div>
		<ul class="main-nav">
			<li class="active"><a href="">HOME</a> </li>
		</ul>
		</div>
		<div class="hero">
		<h1>Chuck Norris</h1>
			
		</div>

        <div class= "quote">
        <p><object data="static/css/test2.txt"></object></p>
        </div>


	</header>
	<aside class = "intro">
		<p>
			This site displays random Chuck Norris quotes.
            <br>
            <br>
		</p>
	</aside>
    <div class="footer">
        <footer>

            Carlos Ray Norris (born March 10, 1940) is an American martial artist, actor, film producer and screenwriter. 
            After serving in the United States Air Force, he won many martial arts championships and later founded his own school of fighting, Chun Kuk Do. 
            Norris is a black belt in Tang Soo Do, Brazilian jiu jitsu and Judo.
            <br>
            <br>
            Norris appeared in Way of the Dragon (in which he starred alongside Bruce Lee), Good Guys Wear Black, The Octagon, Lone Wolf McQuade, Code of Silence, 
            The Delta Force, and Missing in Action 1, 2, & 3. He was The Cannon Group's leading star in the 1980s.[4][5] He played the title role in the television 
            series Walker, Texas Ranger from 1993 until 2001. Since 1997, he and model Christie Brinkley have been the main spokespersons for the Total Gym infomercials.
            <br>
            <br>
            Norris has written several books on martial arts, exercise, philosophy, politics, Christian religion, western novels, and biography. He was twice a New York Times best-selling author, 
            first with his book on his personal philosophy of positive force and the psychology of self-improvement based on personal anecdotes called The Secret of Inner Strength: My Story (1988). 
            His second New York Times Best Seller, Black Belt Patriotism: How to Reawaken America (2008), was about his critique on current issues in the USA.
        </footer>
    </div>
</body>
</html>
